#root, body, html {
    height: 100vh;
    margin: 0;
}

body {
    background-image: url(./images/food.png);
    background-size: repeat;
    background-color: skyblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Emblema One', 'roboto', cursive;
    font-size: 4rem;
}

h1 {
    color: black;
}